#message_div {
  display: block;
  max-height: 320px;
  min-height: 320px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 800px;
  margin: auto; 
  margin-top: 20px;
}

#message_table {
  font-size: 15px;
  line-height: 40px;
}

#title{
  padding-top: 80px;
  width: 800px;
  margin: auto;
}

