#message_div {
  display: block;
  max-height: 320px;
  min-height: 320px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 60%;
  margin: auto; 
  margin-top: 20px;
}

#message_table {
  font-size: 15px;
  line-height: 40px;
}

#message_table tr:hover{
  background-color: #f7f7f7;
  cursor: pointer;
}

#title{
  padding-top: 80px;
  width: 60%;
  margin: auto;
}

.message{
  width: 50%;
}

.time{
  width: 25%; 
}

.name{
  width: 25%;
}


